MVVMTestProject.xcodeproj/project.xcworkspace/xcuserdata/martinpinka.xcuserdatad/UserInterfaceState.xcuserstate
MVVMTestProject.xcodeproj/xcuserdata/martinpinka.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
